.box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  height: 100vh;
  background-color: rgb(34, 198, 12);
  padding: 20px;
  margin: 0 auto;
}

.title {
  font-size: 30px;
  color: #fff;
  text-align: start;
}

.img {
  display: block;
  width: 1024px;
  height: auto;
}
